/* Reset */
  * {
    padding: 0;
    margin: 0;
  }

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Global Structure */

  body {
    background-color: hsl(190, 25%, 95%);
  }

  header {
    width: 100%;
    height: 6rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  nav {
    display: inline-block;
    float: right;
    margin-right: 3rem;
  }

main {
    padding: 0 2rem;
  }

/* Navigation */

  nav ul li {
    display: inline;
    margin: 0 1rem;
}

  nav a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: hsl(190, 50%, 45%);
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.04rem;
  }

  nav a:hover::after {
    content: "";
    background: hsl(10, 100%, 90%);
    position: absolute;
    left: -5px;
    bottom: -2px;
    width: calc(100% + 10px);
    height: calc(100% - 6px);
    z-index: -1;
  }

/* Typography */

  h1,h2,h3,h4 {
    color: hsl(100, 0%, 30%);
    font-family: "Lora", serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0.5rem;
}

  h1.header /*page title*/ {
    color: hsl(190, 50%, 45%);
    display: inline-block;
    margin-left: 3rem;
    margin-bottom: 0;
  }

  h3 /*subheading*/ {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 100;
    text-align: left;
  }

  p {
    color: hsl(100, 0%, 30%);
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.01rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 0.5rem;
  }

  p b {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.01rem;
    line-height: 1.25rem;
    font-style: normal;
    font-weight: 400;   
  }

/* Grid */

  .grid-container {
    display: grid;
    width: 100%;
    grid-template: repeat(20, 50px) / repeat(6, 1fr);
    grid-gap: 0.5rem 0.5rem;
  }

/* Colour Scheme */

  .grid-heading {
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
  }

  .colour-item-1 { 
    background-color: hsl(190, 50%, 45%);
    grid-area: 2 / 1 / 4 / 4;
  }

  .colour-item-2 {
    background-color: hsl(10, 100%, 90%);
    grid-area: 5 / 1 / 7 / 4;
  }

  .colour-item-3 {
    grid-area: 2 / 4 / 5 / 6;
  }

  .colour-item-4 {
    grid-area: 5 / 4 / 8 / 7;
  }



/* Typography */

  .typography-item-1 {
    grid-area: 9 / 1 / 14 / 2;
  }

  .typography-item-2 {
    grid-area: 9 / 2 / 14 / 3;
  }

  .typography-item-3 {
    grid-area: 9 / 3 / 14 / 4;
  }

  .typography-item-4 {
    grid-area: 9 / 4 / 14 / 7;
  }



/*  Components */

  .component-1 {
    grid-area: 15 / 3 / 15 / 5;
    text-align: center;
  }

.button-primary {
  border: 0.2rem solid hsl(190, 50%, 45%);
  background-color: hsl(190, 50%, 45%);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  color: white;
  padding: 1rem;
}

.button-primary:hover {
  text-decoration: underline;
}

.button-primary:active {
  border: 0.2rem solid hsl(10, 100%, 90%);
  background-color: hsl(10, 100%, 90%);
  color: hsl(190, 50%, 45%);
}

.button-secondary {
  border: 0.2rem solid hsl(190, 50%, 45%);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  color: hsl(190, 50%, 45%);
  box-sizing: border-box;
  padding: 1rem;
}

.button-secondary:hover {
  border: 0.2rem solid hsl(190, 50%, 45%);
  text-decoration: underline;
}

.button-secondary:active {
  border-color: hsl(10, 100%, 90%);
}

.button-primary, .button-secondary {
  margin: 0.5rem;
}

/* Responsive */

  @media only screen and (max-width: 750px) {
    header {
      justify-content: center;
    }
    nav {
    margin-right: 0;
    }
    h1.header {
    margin-left: 0;
    }
  }